html, body, #_root {
  height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

#page-content-wrapper {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 15px 0;
  position: absolute;
  right: 0;
  top: 40px;
}

.page .top-bar {
   background-color: rgb(244, 249, 253);
   height: 40px;
   left: 0;
   line-height: 40px;
   position: absolute;
   right: 0;
   top: 0;
}

.page .top-bar .title-wrapper {
   align-items: center;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   left: 0;
   margin-left: 40px;
   margin-right: 40px;
   position: absolute;
   right: 0;
   top: 0;
}

.page .top-bar .title-wrapper .title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar {
  background-color: rgb(244, 244, 244);
  border-right: 1px solid rgb(224, 224, 224);
  bottom: 0;
  box-sizing: border-box;
  left: -250px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 250px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar a {
  color: black;
  display: block;
  padding: 6px 15px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar ul > li > ul > li > a {
  padding-left: 40px;
}

.content-container {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
}

body.sidebar-is-open .sidebar {
  left: 0;
}

body.sidebar-is-open .content-container {
  left: 250px;
  right: -250px;
}

@media (min-width: 769px) {
  body.sidebar-is-open .content-container {
    right: 0;
  }
}


.chip {
  display: inline-block;
  padding: 4px 32px 4px 12px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 14px;
  background: rgb(232, 232, 232);
  position: relative;
}

.chip__delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  border-radius: 14px;
  text-align: center;
  line-height: 30px;
}

.chip__delete:hover {
  background: rgb(190, 190, 190);
}


.card {
  margin-bottom: 30px;
  border: 1px solid rgb(224, 229, 233);
}

.card__title {
  background-color: rgb(244, 249, 253);
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}

.card__content {
   padding-bottom: 15px;
   padding-top: 15px;
}


.form-notification {
  border-radius: 2px;
  padding: 6px 8px;
  background: rgb(221, 221, 221);
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  line-height: 1;
}

.form-notification--error {
  background: rgb(255, 88, 88);
}

.form-notification--warning {
  background: rgb(255, 182, 78);
}

.form-notificaiton--success {
  background: rgb(44, 196, 168);
}

.letter {
  color: #222;
  font: 14px/1.35 "Open Sans", sans-serif;
  padding: 1% 40px;
}

.platform-details {
  bottom: 0;
  left: 66.66667%;
  padding-left: 15px;
  position: absolute;
}

.council-address {
  padding-top: 130px;
}
.preserve-linebreaks {
  white-space: pre-wrap;
}

.brand-logo {
  display: inline-block;
  margin-bottom: 8px;
  width: 100px;
}

.relative {
  position: relative;
}

.m-bottom {
  margin-bottom: 30px !important;
}

.m-bottom--l {
  margin-bottom: 60px !important;
}

.m-bottom--zero {
  margin-bottom: 0 !important;
}

.list-bullets {
  list-style: disc !important;
  margin-top: 5px;
}

.f-large {
  font-size: 18px;
}

.avoid-new-page--after {
  page-break-after: avoid;
}

.avoid-new-page--before {
  page-break-before: avoid;
}

.start-new-page {
  page-break-before: always;
}

.copy p {
  margin-bottom: 15px;
}

.copy h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
}

.copy ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.copy li {
  margin-bottom: 3px;
}

.supporters-list {
  font-size: 11px;
  margin-top: 15px;
}

.supporters-list li {
  display: inline-block;
  margin-bottom: 3px;
  width: 48%;
}
