{%- set api = config['containers']['iris-api-service'] -%}
(function (global) {
  global.iris = global.iris || {};
  settings = global.iris.settings = global.iris.settings || {};
  settings.swagger = {
    specUrl: '{{ context['api_proto'] }}{{ "://" }}{{ api['access']['url'] }}/swagger.json'
  };
  settings.ssoProviders = [
    {%- for provider in api['sso']['providers'] %}
    {
      name: '{{ provider['name']}}',
      loginUrl: '{{ provider['loginUrl'] }}'
      }{%if not loop.last %},{% endif %}
    {%- endfor %}
  ];
  global.iris.settings.platform = {
    name: "{{ context['platform']['name'] }}"
  };
}(window));
